/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;

    height: 800px;
    border: 1px solid red;
}

header{
    width: 100%;
    height: 50px;
    background-color: #e478e6;
    margin-bottom: 20px;
}
