/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;

    
    border: 1px solid red;
}

.container > header{
    width: 100%;
    height: 100px;
    background-color: #e478e6;
    margin-bottom: 20px;
}

.jumbotron{
    width: 100%;
    height: 300px;
    background-color: #e0d67b;
    margin-bottom: 20px;
}
